<h1>Varietal Assignment #<%= @varietalassignment.id %></h1>

<p>
  <b>Bottle:</b>
  <%= @varietalassignment.bottle.name %>
</p>

<p>
  <b>Varietal:</b>
  <%= @varietalassignment.varietal.name %>
</p>


