<h1>Occasion #<%= @occasion.id %></h1>

<p>
  <b>Foreign:</b>
  <%= @occasion.foreign_id %>
</p>

<p>
  <b>Occasion:</b>
  <%= @occasion.occasion %>
</p>

<p>
  <b>Qualities:</b>
  <%= @occasion.qualities %>
</p>


